
.Temp {
    height: 100%; width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.alert {
  position: absolute;
  z-index: 2;
  top: 100px;
  width: 500px;
  left: calc(50% - 250px);
  padding: 1em;
  background-color: rgb(237, 92, 39);
  color: white;
  display: flex;
}


.unprocessed {
    height: 15%;
    background-color: rgba(200, 222, 234, 0.78);
    position: relative;
}

.ProgressBar {
  width: 100%;
  position: absolute;
}

.unprocessed > .cards {
    flex-wrap: nowrap;
    overflow: hidden;
}

.card-stealing--cards {
  vertical-align: middle;
  position: relative;
}
.button-15 {
    position: absolute;
    right: .5em; top: 1em;
    border: none;
    background-color: rgb(47, 156, 47);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: .5em 1em;
}

.unprocessed > .cards > div {
    text-wrap: nowrap;
    margin: 0 .5em .5em 0;
    padding-inline: .5em;
    border-right: 1px solid rgba(255, 119, 0, 0.209);
}

.processed {
    height: 85%;
    overflow-y: auto;
    position: relative;
}

.cards {
    padding: .5em 0;
    display: flex;
    flex-wrap: wrap;
}

.processed > .cards > div {
    margin: 0 .5em .5em 0;
    font-size: .8em;
    overflow: hidden;
    padding: .5em;
    width: 150px;
    height: 200px;
    background-color: rgba(255, 119, 0, 0.209);
}



/* CSS for button 15*/
.button-15 {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}