
.filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.filter {
    height: 100%;
    margin-left: 20px;
}

.filter-btn {
    padding: 10px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: rgba(0, 0, 0, .1);
}

.filter > .select {
    font-size: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    color: rgb(0, 0, 0, .5);
}
