
.fyp-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
}

.fyp-manager::-webkit-scrollbar {
    display: none;
}

.fyp-manager > li {
    list-style-type: none;
    scroll-snap-align: start;
    position: relative;
}

.fyp-manager > li > .word-card {
    width: 500px;
    min-height: 750px;
    font-size: x-large;
}

.fyp-manager > li > .controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1em;
    bottom: 3em;
    gap: 1.3em;
    cursor: pointer;
}

@media (max-width: 700px) {
    .fyp-manager > li > .word-card {
        width: 100%;
        min-height: 100%;
    }
    .controls {
        bottom: 1em;
        padding: 0;
    }

    .fyp-manager > li {
        width: 100%;
        min-height: 100%;
    }
  }