.card-add-auto {
    background-color: #9BC5CB;
    flex-wrap: wrap;
    color: #E0F5F8;
    padding: 1em;
    min-height: 400px;
}

.card-add-auto--top {
    justify-content: space-between;
}

.card-add-auto > .ProgressBar {
    margin: .5em;
    width: 90%;
}

.card-add-auto > div .deckName {
    display: block;
    text-align: start;
    font-size: larger;
    font-weight: 500;
    padding: 10px 20px;
    height: 50px;
}



.card-auto-search {
    margin-top: 0em;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    color: #345C70;
    border: 2px solid #345c70bd;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    overflow: hidden;
}

.card-auto--extra-words {
    margin-bottom: 0;
}

.card-auto--extra-words > label {
    display: flex;
    color: #345C70;
    font-weight: bolder;
    margin: 1em;
}
.card-auto--extra-words > ul  {
    display: flex;
    /* color: #345C70; */
    font-weight: bolder;
    gap: 1em;
}



.card-auto--search-list > li {
    display: flex;
    justify-content: space-between;
    color: #345C70;
    padding: .5em;
    border: 1px solid rgba(255, 255, 255, 0.42);
    border-radius: .5em;
    margin-top: .3em;
}


.card-auto--search-list > .item-not-found {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: rgb(148, 19, 19);
}