.Home {
    background: 
        linear-gradient( to right, rgba(0, 0, 0, .7) 0%, rgba(255, 255, 255, 0.7) 100%),
        url(https://res.cloudinary.com/dtkxmg1yk/image/upload/v1719794299/Flashcards/byfug52vglytgvzsxxa0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

.auth {
    width: 400px;
    height: 500px;
    border: 2px solid rgba(174, 222, 244, 0.615);
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.intro > p {
    margin-top: 50px;
}

.side {
    color: #83c8e8c5;
    font-size: large;
    font-weight: 500;
}

.intro > .Logo > .energy {
    animation: starDrop 3s 2s forwards;
    visibility: hidden;
}

@media (max-width: 570px) {
    .Home {
        background: 
            linear-gradient( to bottom, rgba(0, 0, 0, .7) 0%, rgba(255, 255, 255, 0.7) 100%),
            url(https://res.cloudinary.com/dtkxmg1yk/image/upload/v1719794299/Flashcards/byfug52vglytgvzsxxa0.jpg);
    }
    .into > p {
        margin-top: 20px;
    }
}

@keyframes starDrop {
    0% {
        transform: translateY(-100px);
        visibility: visible;
    }
    10% {
        transform: translateY(100px);
    }
    20% {
        transform: translateY(-50px);
    }
    30% {
        transform: translateY(25px);
    }
    40% {
        transform: translateY(-12.5px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-2px);
    }
    70% {
        transform: translateY(-3px);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(7px);
        visibility: visible;
    }
}


