.Logo {
    color: #91aebc9e;
    display: flex;
    align-items: center;
    -webkit-text-stroke: .7px #83c8e8;
}

.intro > .Logo {
    font-size: 3em;
    font-weight: bolder;
}

.intro > .Logo > .energy {
    color: yellow;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1), rgba(255, 255, 255, .000001));
    border-radius: 50%;
    box-shadow: 0 0 50px white;
    -webkit-text-stroke: 2px #83c8e8;
}
