
.catalog {
    padding: .5em;
    display: flex;
    gap: 1em;
}

.catalog .game {
    padding: 1em;
    border: 2px dotted lightblue;
}

.catalog img {
    width: 300px;
    height: 300px;
    margin-block: .5em;
}

.catalog .game > p {
    display: flex;
    padding: .5em;
    text-align: left;
    font-weight: 600;
}
