
.card-head {
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}

.card-body {
    margin-top: 1em;
}

.card-body p {
    margin-top: 1em;
}

.card-body p:first-child {
    color: green;
}

.card-body p:last-child {
    color: rgb(111, 172, 192)
}