
.topic-card {
    /* background-color: #C0D7DA; */
    list-style: none;
    /* color: #345C70; */
    width: 300px;
    min-height: 200px;
    /* height: fit-content; */
    padding: 1em;
    /* box-shadow: 0 3px 0 rgba(11, 14, 15, 0.482); */
    border-radius: 20px;
    border: 2px solid lightblue;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: x-large; */
    cursor: pointer;
    user-select: none;
}

.topic--meta {
    display: flex;
    justify-content: space-between;
    font-size: small;
    max-width: 100%;
  }

  .topic--meta > div {
    color: #86A8B8;
    font-weight: bold;
  }

  .topic--meta > div:first-child {
    text-transform: uppercase;
  }