.word-card {
    /* background-color: #C0D7DA; */
    list-style: none;
    /* color: #345C70; */
    width: 300px;
    min-height: 200px;
    /* height: fit-content; */
    padding: 1em;
    /* box-shadow: 0 3px 0 rgba(11, 14, 15, 0.482); */
    border-radius: 20px;
    border: 2px solid lightblue;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: x-large; */
    /* cursor: pointer; */
    user-select: none;
}

.card-head {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    min-width: 100%;
}

.card-body {
    margin-block: 1em;
    width: 90% !important;
    margin-inline: auto;
}

.card-body > p {
    font-size: large;
    margin-top: 1em;
}

.card-body p:first-child {
    color: green;
}

.card-body p:last-child {
    color: rgb(111, 172, 192)
}

.card-footer {
    text-align: left;
    min-width: 100%;
}