.personal {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: .5em 2em;
}
  
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 95%;
    text-wrap: noWrap;
    font-size: x-large;
}

.head div:has(button) {
  display: flex;
}
.body {
    overflow-y: auto;
    width: 95%;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    /* flex-grow: 1; */
}
  
.bottom {
    height: 5%;
    background-color: red;
}
  
.shelf,
button {
    text-transform: capitalize;
  }
  
.shelf {
    color: #86A8B8;
    display: flex;
    gap: 3em;
  }
  
button, .option {
    cursor: pointer;
    border: none;
    color: #86A8B8;
    background: transparent;
    font-size: medium;
    text-decoration: none;
  }
  
.option {
    border-radius: 5px;
    padding: .2em .5em;
    font-size: 27px;
    background-color: #86A8B8;
    color: #E0F5F8;
    margin-left: 20px;
}
  
button.option:hover {
    color: white;
    box-shadow: 0 0 15px #a7c2d0;
}
  
.body > span {
    display: flex;
    font-size: 30px;
}
/* style={{width: "300px", padding: "1em", listStyle: "none", border: "2px solid lightblue", minHeight: "300px", height: "fit-content"}} */
/* .body > .topic-card {
    list-style: none;
    width: 300px;
    min-height: 200px;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid lightblue;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
} */

.body .topic {
  font-size: x-large;
}
  
.body .topic-card:hover {
    color: white;
    scale: 1.01;
    /* box-shadow: 0 0 12px rgba(11, 14, 15, 0.482); */
}
  
/* .modal {
    border-radius: 2em;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1em -1em 1em rgb(0, 0, 0, .2);
}
  
.modal:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(20, 20);
    z-index: -1;
    background-color: navajowhite;
}
  
.modal .cancel {
    position: absolute;
    right: 0;
    top: 0;
    font-size: xx-large;
    color: red;
    cursor: pointer;
    z-index: 6;
}
  
.modal .cancel:hover {
    transform: scale(1.1);
} */

.filter-btn {
  cursor: pointer;
  padding: .5em 1em;
  background-color: #C0D7DA;
}

.filter-btn:hover {
  scale: 1.02;
}
  
.personal--filters,
.personal--deleting-panel {
    min-width: 200px;
    display: flex;
    align-items: center;
    row-gap: 1em;
    column-gap: calc(1em + 1vw);
    margin: 1em;
    padding: 0.5em 1em;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}
  
.personal--filters > span,
.personal--deleting-panel > * {
    display: flex;
}
  
  @media (max-width: 500px) {
    .personal--filters {
      flex-direction: column;
      align-items: start;
      display: none;
    }

    .head {
      display: none;
    }

    .body {
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .personal {
      padding: 1em;
    }
  }
  
  @media (max-width: 420px) {
    button {
      padding: 5px;
      font-size: 1.2em;
    }
  
    .shelf {
      font-size: 1.2em;
    }
  
    .body div {
      width: 155px;
    }
  }
  
  