.personal {
    height: 100%;
}

.head {
    width: 95%;
    margin: auto;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.body {
    height: 75%;
    overflow-y: auto;
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(205, 236, 246);
    border-radius: 20px; */
}

.bottom {
    height: 5%;
}

.shelf, .new-deck {
    text-transform: capitalize;
    font-size: 27px;
}
.shelf {
    color: #86A8B8;
}

.new-deck {
    background-color: #86A8B8;
    color: #E0F5F8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.new-deck:hover {
    color: white;
    box-shadow: 0 0 15px #a7c2d0;
}


.body div {
    background-color: #C0D7DA;
    color: #345C70;
    width: 170px;
    height: 150px;
    margin: 20px 5px 0 15px;
    padding: 10px;
    /* border: 1px solid rgb(139, 185, 203); */
    box-shadow: 0 3px 0 rgba(11, 14, 15, 0.482);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    flex-wrap: wrap;
    cursor: pointer;
}


.body *:hover {
    color: white;
    font-size: xx-large;
    box-shadow: 0 0 12px rgba(11, 14, 15, 0.482);
}


.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    background-color: #000000c1;
}

.inner-modal {
    margin: auto;
    /* background-color: white; */
    box-shadow: 0 0 20px rgb(113, 156, 196);
    border-radius: 20px;
    position: relative;
}

.inner-modal .cancel {
    position: absolute;
    height: 1em;
    display: flex;
    right: 0;
    top: -0;
    font-size: xx-large;
    background-color: white;
    border-radius: 50%;
    color: red;
    cursor: pointer;
}

.cancel:hover {
    background-color: white;
}


/* media queries */
@media (max-width: 420px) {
    .new-deck {
        padding: 5px;
       
    }

    .body div {
        width: 155px;
    }
}