
.agents {
    padding: 1em;
}
.agents-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    flex: 1;
    overflow: auto;
}

.agents-list .agent {
    border: 1px solid lightblue;
    height: fit-content;
    cursor: pointer;
}

.agents-list .agent:hover {
    scale: 1.01;
}

.agent img {
    height: 400px;
}

@media (max-width: 900px) {
    .agents {
        position: absolute;
        background-color: rgb(231, 231, 231);
    }
    
}