.card-add {
    width: min(90vw, 600px);
    min-height: 200px;
    margin: auto;
    background-color: #9BC5CB;
    padding: 1.5em;
}

.card-add * {
    font-size: large;
    font-weight: 500;
    margin-bottom: 5px;
}

/* .card-add * *, .card-add * * * {
    background-color: #345C70;
} */

.card-add > .head {
    display: flex;
}

.card-add > .head > div:first-child {
    text-transform: capitalize;
    background-color: transparent;
}

.card-add  > .head button {
    padding: .7em 1em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    background-color: #345C70;
    color: white;
}

.card-add > .main {
    border-radius: 30px;
    background-color: #6E95A8;
    padding: 1em;
    position: relative;
}

.card-add .top {
    display: flex;
    justify-content: space-between;
}

.card-add > .main > .top > div {
    padding: .5em 1em;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.card-add .middle {
    display: flex;
    background-color: transparent;
    gap: 1em;
    align-items: center;
}

.card-add .arrow:hover {
    font-size: xx-large;
    box-shadow: 0 0 10px lightblue;
}

.card-add .content {
    border-radius: 20px;
    text-align: left;
    padding: 1em;
    overflow: hidden;
}

.card-add .arrow {
    border: 1px solid skyblue;
    padding: 5px;
    cursor: pointer;
}

.main--bottom {
    width: fit-content;
    padding: 1em;
    border: 1px solid;
    border-radius: 20px;
    background-color: lightblue;
    color: #345C70;
    cursor: pointer;
    margin: auto;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
}

.card-add--bottom div {
    color: #345C70;
}

@media (max-width: 420px) {
    .card-add  {
        width: 95vw;
        max-height: 80vh;
    }
    .card-add * {
        font-size: medium;
    }
}