.App {
  text-align: center;
  height: 100vh;
  min-width: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  height: 80px;
  width: 100vw;
}

main {
  box-shadow: 0 -3px 0 #b0c3c4;
  height: 500px;
  width: 100vw;
  background-color: #E0F5F8;
  flex-grow: 1;
}

footer {
  background-color: #C0D7DA;
  width: 100vw;
  height: 29px;
}


header > nav {
  height: 100%;
  background-color: #C0D7DA;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-right {
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.nav-right > li {
  list-style-type: none;
  padding: 5%;
  background-color: #86A8B8;
  color: white;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.nav-right > li:hover {
  color: rgb(64, 44, 72);
  box-shadow: 0 0 10px #6897a5;
}

@media (max-width: 420px) {
  header > nav {
    padding: 0;
    justify-content: space-evenly;
  }
  
  .nav-right li {
    font-size: 1.2em;
  }
}

@media ( max-width: 200px) {
  .nav-right li {
    display: none;
  }
}